@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme="light"] {
  color-scheme: light;
  --primary-color: #ffffff;
  --second-color: #fafafa;
  --text-color: #242424;
  --link-color: #3c455c;
  --nav-color: var(--text-color);
  --nav-bg: #242424;
  --key-color: #242424;
  --property-color: #064664;
  --theme-name-color: var(--text-color);
  --button-color: var(--text-color);
  --bg-color: #ebe6da;
  --bg-color-accent: #e8e2d4;
  --link-color-accent: rgb(55.9736842105, 64.3697368421, 85.8263157895);
  --success: #02fd9d;
  --danger: #c23854;
  --warning: #ffce52;
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --primary-color: #222;
  --second-color: #2a2a2a;
  --text-color: #dcebf1;
  --link-color: #02fd9d;
  --nav-color: #87aec0;
  --nav-bg: transparent;
  --key-color: #87aec0;
  --theme-name-color: var(--text-color);
  --property-color: #cce6f1;
  --bg-color: #001e2b;
  --bg-color-accent: #042635;
  --link-color-accent: #0ebc91;
  // --link-color-accent: #20a091;
  --button-color: var(--text-color);
  --success: #02fd9d;
  --danger: #c23854;
  --warning: #ffce52;
}

body {
  color-scheme: dark light;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1rem;
  height: 100dvh;
}

input,
textarea,
button {
  border: none;
  outline: none;
  background: transparent;
}
button,
input,
optgroup,
select,
textarea {
  font-size: 1rem;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  font-size: 1rem;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #02fd9d;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fancy-border {
  width: max-content;
  height: 100%;
  border-right: 0.35em solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(0deg, transparent 5%, var(--link-color-accent), transparent 95%);
}
